body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.todo {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(to right, #c77575, #cebcbc);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(158, 73, 73, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #ec4075;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cb4269;
}

button:disabled {
  background-color: #dddddd;
  color: #666666;
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

li button {
  background-color: #c67269;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 2px;
}

li button:hover {
  background-color: #c0392b;
}

li button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.taskContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
}

span {
  flex: 1;
  margin-right: 10px;
  white-space: nowrap;
}
